
header{
    font-family: i;
    background-color:black;
    color:white;
    text-align: center;
}
#container{
    margin-top: 90px;
    width:100%;
    
   
}
.main{
    background-color:gainsboro;
    height:100vh;    
}
#left-content {
    padding:20px;
    border-style: solid;
    background-color: ghostwhite;
}
#right-content {
    padding: 20px;
    border-style: solid;
    margin-left: 5px;
    background-color: ghostwhite;
}
h3{
    font-size: 30px;
}
h1{
    color:white;
    padding:25px;
}
.row col{
    margin-left: 5px;
}