<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="app.component.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>
  a{
    color:white;
  }
</style>
</head>
<body>
    <header>
        <div class="container">
          <div class="logo">
            <img src="https://sahanaclothing.com/assets/img/sahana-logo.png?1677302844">
          </div>
            <h1>Hospital Management System</h1>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li>
                     <a href="https://www.google.co.in/maps/place/Apollo+Speciality+Hospitals/@10.8070322,78.5710541,12z/data=!4m10!1m2!2m1!1sappolo+hospital!3m6!1s0x3baaf506a2accc6b:0x2d7977fac779dfa6!8m2!3d10.8070322!4d78.7111298!15sCg9hcG9sbG8gaG9zcGl0YWySARBwcml2YXRlX2hvc3BpdGFs4AEA!16s%2Fg%2F11b5qytmh9?entry=ttu"> <i class='bx bx-location-plus'></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section id="home">
            <div class="container">
                <h2>Welcome to Our Hospital</h2>
                <button class="btn" ><a href="/ANGULAR/HOSPITAL_MANAGEMENT/Login.html">Book Appointment</a></button>
                
                <button>Learn More</button>
            </div>
        </section>
        <section id="services">
            <div class="container">
                <h2>Services</h2>
                <div class="service">
                    <h3>Emergency Care</h3>
                    <p>24/7 emergency services for critical cases.</p>
                </div>
                <div class="service">
                    <h3>Services towards patient</h3>
                    <p>Consultations and treatments for non-inpatients.</p>
                </div>
                <div class="service">
                    <h3>Specialist Doctors</h3>
                    <p>Comfortable and specialized care for inpatients.</p>
                </div>
               
            </div>
        </section>
        <section id="about">
            <div class="container">
                <h2>About Us</h2>
                <p>Our hospital has been serving the community for past 10 years.</p>
            </div>
          </section>
    </main>
</body>
</html>
